@page
@model LeHoangNhatTanRazorPages.Pages.NewsArticles.IndexModel
@{
}
<div class="row row-cols-1 row-cols-md-4 g-2 justify-content-center justify-content-md-start">
    @foreach (var news in Model.NewsArticles)
    {
        int snippetLength = 100;
        string snippet = news.NewsContent;

        if (snippet.Length > snippetLength)
        {
            snippet = snippet.Substring(0, snippetLength) + "...";
        }
        <div class="col  d-flex justify-content-center ">
            <div class="card border border-dark mb-3 text-decoration-none h-auto hover-shadow" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@news.NewsTitle</h5>
                    <p class="card-text">@snippet</p>
                </div>
                <div class="card-footer">
                    <a asp-page="./Detail" asp-route-id="@news.NewsArticleId" class="btn btn-secondary"
                       data-bs-toggle="tooltip"
                       data-bs-html="true"
                       title="<div>
             <small >
               <strong>Updated:</strong> @(news.ModifiedDate?.ToString("MMM dd, yyyy") ?? "N/A")
             </small>
           </div>
           <div>
             <small >
               <strong>Created:</strong> @(news.CreatedDate?.ToString("MMM dd, yyyy") ?? "N/A")
             </small>
           </div>">
                                        Read this news
                                      </a>

                </div>
            </div>
        </div>
    }
</div>

